--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu
numpy<2.0.0

streamlit
langchain-huggingface
langchain-community
chromadb
sentence-transformers
pypdf
openai
python-dotenv
requests
pillow
markdown==3.5.2
pdfkit==1.0.0

transformers==4.48.2

pysqlite3-binary
